:host {
    .header-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        background-color: #C9AD64;
        padding: 0 30px;

        h1 {
            margin: 0;
            font-weight: 500;
            color: #fff;
        }
    }
}