<div class="header-wrapper">
    <h1 routerLink="/app/main">Alexandria</h1>

    <nav>
        <a [matMenuTriggerFor]="biblioteca">Biblioteca</a>
        <mat-menu #biblioteca="matMenu">
            <button mat-menu-item routerLink="/app/biblioteca/autores">Autores</button>
            <button mat-menu-item routerLink="/app/library/titles/list">Títulos</button>
            <button mat-menu-item routerLink="/app/library/copies/list">Exemplares</button>
            <button mat-menu-item routerLink="/app/library/members/list">Membros</button>
            <button mat-menu-item routerLink="/app/library/loans/list">Empréstimos</button>
        </mat-menu>
    
        <a [matMenuTriggerFor]="financeiro">Financeiro</a>
        <mat-menu #financeiro="matMenu">
            <button mat-menu-item>Pagamentos</button>
            <button mat-menu-item>Mensalidades</button>
        </mat-menu>
    
        <a [matMenuTriggerFor]="seguranca">Segurança</a>
        <mat-menu #seguranca="matMenu">
            <button mat-menu-item routerLink="/app/seguranca/usuarios">Usuários</button>
            <button mat-menu-item>Sessões ativas</button>
        </mat-menu>
    </nav>

    <span>Usuário: {{ user?.username }}</span>
</div>