:host {    
  table {
      width: 100%;
  }
  
  .buttons{
    margin:10px;
    float:right;
  }

  @media screen and (max-width: 960px) {
    table {
      border: 0;
      vertical-align: middle

      caption {
        font-size: 1em; 
      }

    }

  }
  
}