<h1>Membros</h1>


<div class="example-container mat-elevation-z8">
  <div style="padding:10px;">   
    <form [formGroup]="form">
      <p>
        <mat-form-field>
            <mat-label for="name">Nome</mat-label>
            <input matInput formControlName="name" placeholder="Nome" type="text">
            <mat-error *ngIf="form.get('nome')?.hasError('minlength')">Insira o nome</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
            <mat-label for="birthDate">Data de Nascimento</mat-label>
            <input matInput formControlName="birthDate" placeholder="Data de Nascimento" type="date">            
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
            <mat-label for="email">E-Mail</mat-label>
            <input matInput formControlName="email" placeholder="email" type="email">
            <mat-error *ngIf="form.get('email')?.hasError('minlength')">Insira o e-mail</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
            <mat-label for="registrationNumber">CPF</mat-label>
            <input matInput formControlName="registrationNumber" placeholder="CPF" type="text">
            <mat-error *ngIf="form.get('registrationNumber')?.hasError('minlength')">Insira o CPF</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
            <mat-label for="occupation">Profissão</mat-label>
            <input matInput formControlName="occupation" placeholder="Profissão" type="text">
            <mat-error *ngIf="form.get('occupation')?.hasError('minlength')">Insira a profissão</mat-error>
        </mat-form-field>
      </p>
      <p>
        <button mat-flat-button 
                color="primary" 
                (click)="submit()" 
                [disabled]="form.invalid" 
                type="submit">Salvar
        </button>
      </p>    
  
    </form>
  </div>
</div>