<h1>Autores</h1>


<div class="example-container mat-elevation-z8">
  <div style="padding:10px;">   
    <form [formGroup]="form">
      <p>
        <mat-form-field>
            <mat-label for="name">Nome</mat-label>
            <input matInput formControlName="name" placeholder="Nome" type="text">
            <mat-error *ngIf="form.get('nome')?.hasError('minlength')">Insira o nome</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
            <mat-label for="name">Sobrenome</mat-label>
            <input matInput formControlName="lastName" placeholder="Sobrenome" type="text">            
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
            <mat-label for="name">Pseudônimo</mat-label>
            <input matInput formControlName="pseudonym" placeholder="Pseudônimo" type="text">            
        </mat-form-field>
      </p>
      <p>
        <button mat-flat-button 
                color="primary" 
                [disabled]="form.invalid"                
                type="submit"
                (click)="submit()">Salvar
        </button>
      </p>    
  
    </form>
  </div>
</div>