<h1>Exemplares</h1>


<div class="example-container mat-elevation-z8">
  <div style="padding:10px;">   
    <form [formGroup]="form">
      <p>
        <mat-form-field>
            <mat-label for="code">Código</mat-label>
            <input matInput formControlName="code" placeholder="Código" type="text">
            <mat-error *ngIf="form.get('code')?.hasError('minlength')">Insira o código</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-select placeholder="Título" formControlName="titleId">
            <mat-option *ngFor="let title of titles" [value]="title.id">
              {{ title.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <p>
        <button mat-flat-button 
                color="primary" 
                (click)="submit()" 
                [disabled]="form.invalid" 
                type="submit">Salvar
        </button>
      </p>    
  
    </form>
  </div>
</div>